* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
}

body {
    position: relative;
    display: grid;
    place-items: center;
    background-color: hsla(0, 0%, 0%);
    background-image: url("images/board.svg");
    background-size: 100dvw 100dvh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Protest Riot", "Trebuchet MS", sans-serif;
    color: hsl(0, 0%, 100%, 1);
    overflow: hidden;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    background-color: hsla(0, 0%, 18%, 1);
    font-size: 2.5vmin;
    align-content: center;
    border-radius: 1em;
    padding: 2em 2.5em;
    border: 3px solid hsla(0, 0%, 100%, 0.1);

    h1 {
        all: unset;
        background-image: linear-gradient(to right, hsla(0, 0%, 40%), 15%, hsla(0, 0%, 100%, 1), 85%, hsla(0, 0%, 40%));
        background-clip: text;
        color: transparent;
        font-size: 2.5em;
        font-weight: 600;
        text-align: center;
        margin-bottom: 1.5vmin;
    }

    .menu-btn, input[type="text"] {
        all: unset;
        cursor: pointer;
        background-color: hsla(0, 0%, 100%, 0.05);
        font-size: 1.1em;
        text-align: center;
        border-radius: 0.4em;
        width: 9.25em;
        padding-block: 0.6em;
        border: 1px solid hsla(0, 0%, 100%, 0.1);

        &:hover {
            background-color: hsla(0, 0%, 100%, 0.1);
        }
    }

    input[type="text"] {
        cursor: text;
    }

    .field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1vmin;
        /*width: 8.5em;*/
        width: fit-content;

        label {
            text-align: center;
            color: hsla(0, 0%, 100%, 0.6);
        }
    }

    .back-btn {
        margin-top: 1em;
    }
}

.welcome {
    padding-bottom: 2.75em;

    .game-title {
        all: unset;
        background-image: linear-gradient(to right, hsla(0, 0%, 40%), 15%, hsla(0, 0%, 100%, 1), 85%, hsla(0, 0%, 40%));
        background-clip: text;
        color: transparent;
        font-size: 4.25em;
        font-weight: 400;
        text-align: center;
        margin-bottom: 3.5vmin;
    }
}

.text-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vmin;
}

.icon-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    margin-top: 1em;

    .icon-btn {
        all: unset;
        cursor: pointer;
        display: grid;
        place-items: center;
        height: 6vmin;
        width: 6vmin;
        background-color: hsla(0, 0%, 100%, 0.05);
        border-radius: 0.45em;
        border: 1px solid hsla(0, 0%, 100%, 0.1);

        img {
            height : 70%;
            width : 70%;
            filter: invert(1);
        }

        &:hover {
            background-color: hsla(0, 0%, 100%, 0.1);
        }
    }
}

.settings {
    gap: 3vmin;
    padding-inline: 3em;
}

.menu.online, .menu.create-room {
    input[type="text"] {
        font-family: inherit;
    }

    .error-msg {
        width: 12.33em;
        text-align: center;
        color: hsl(0, 100%, 78%);
        font-size: 0.75em;
        margin-bottom: 1em;
    }
}

.menu.create-room {
    .field {
        margin-bottom: 0.5em;
    }

    .create-room-btn {
        margin-top: 1em;
    }

    .back-btn {
        margin-top: 0;
    }
}

#board {
    background-color: transparent;
    cursor: none;
}

.menu.pause {
    height: fit-content;
    width: fit-content;
    color: hsla(0, 0%, 100%, 1);

    &::backdrop {
        background-color: hsla(0, 0%, 0%, 0.25);
    }

    h1 {
        margin-bottom: 3.5vmin;
    }
}

.message {
    pointer-events: none;
    user-select: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 2.5vh;
    z-index: 2;
    width: fit-content;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw; /* TODO: handle for portrait */
    /*font-family: system-ui;*/
    font-size: 4vmin;
    font-weight: 100;
    color: hsl(0, 0%, 100%, 0.25);

    .message-part {
        width: 15vw;
    }

    .left {
        text-align: right;
    }

    .right {
        text-align: left;
    }
}

.scores {
    pointer-events: none;
    user-select: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2.5vh;
    z-index: 2;
    width: fit-content;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw; /* TODO: handle for portrait */
    font-size: 5vmin;
    font-weight: 700;
    color: hsl(0, 0%, 100%, 1);

    .score {
        width: 15vw;
    }

    #left-score {
        text-align: right;
    }

    #right-score {
        text-align: left;
    }
}

.strobing-score {
    animation: strobe 5s;
}

@keyframes strobe {
    0% {
        opacity: 0.25;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0.25;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

.fps-display {
    position: absolute;
    top: 4vmin;
    right: 4vmin;
    display: grid;
    place-items: center;
    color: hsla(100, 100%, 50%, 1);
    font-size: 4vmin;
}

.rotate-screen {
    height: fit-content;
    width: fit-content;
    font-size: 5vmin;
    color: hsla(0, 0%, 100%, 1);

    &::backdrop {
        background-color: hsla(0, 0%, 0%, 1);
    }

    img {
        height: 40vmin;
        width: 40vmin;
        filter: invert(1);
        margin-bottom: 7vmin;
    }
}

.loading-spinner {
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border: none;

    &::backdrop {
        background-color: hsla(0, 0%, 0%, 0.5);
    }

    img {
        height: 10vmin;
        width: 10vmin;
        filter: invert(1);
    }
}

.hidden {
    display: none;
}